#top-jumbo {
  padding: 0 0 400px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 40%,
    #8948f2 77%,
    #e0a1df 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 40%,
    #8948f2 77%,
    #e0a1df 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #ffffff 40%,
    #8948f2 77%,
    #e0a1df 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}
#top-jumbo .left-side {
  width: 40%;
  display: inline-block;
  float: left;
}
#top-jumbo .left-side .large-number {
  font-size: 300px;
  font-weight: 700;
  opacity: 0.1;
  color: #4c44c1;
  position: relative;
  left: -20px;
  top: 0px;
  z-index: 1;
}
#top-jumbo .left-side .info-container {
  position: relative;
  top: -100px;
}
#top-jumbo .left-side .info-container h1 {
  color: #6066f2;
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}
#top-jumbo .left-side .info-container p {
  color: #aaacaf;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
#top-jumbo .left-side .info-container .email-area {
  background: white;
  border-radius: 50px;
  padding: 10px;
  width: 30rem;
  z-index: 11;
  position: absolute;
  max-width: 476px;
}
#top-jumbo .left-side .info-container .email-area svg {
  position: relative;
  font-size: 2rem;
  top: 7px;
  margin-left: 15px;
  margin-right: 15px;
  color: #d5e2ea;
}
#top-jumbo .left-side .info-container .email-area input[type="email"] {
  background: white;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 230px;
  margin-right: 15px;
}
#top-jumbo .left-side .info-container .email-area button {
  background: #6066f2;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}
#top-jumbo .right-side {
  width: 60%;
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
#top-jumbo .right-side img {
  width: 100%;
  width: 45.625rem; /* equivalent width */
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(9deg);
}
/*Laptop Devices*/
@media only screen and (max-width: 1215px) {
  #top-jumbo .left-side .info-container .email-area {
    /* width: 100%; */
  }

  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }

  #top-jumbo .left-side .info-container .email-area svg {
    position: relative;
    top: 14px;
    float: left;
    /* width: 15%; */
    text-align: center;
    margin-left: 0;
  }

  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 12px;
  }

  #top-jumbo .left-side .info-container .email-area button {
    font-size: 1rem;
    float: left;
    background: #6066f2;
    padding: 20px 0;
    width: 35%;
  }
}
/*Tablet Devices*/
@media only screen and (max-width: 1023px) {
  #top-jumbo {
    padding: 0 0 300px;
  }
  #top-jumbo .left-side {
    width: 40%;
  }
  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }
  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
  }
  #top-jumbo .left-side .info-container .email-area {
    width: 29rem;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 18px 0;
    width: 31%;
  }
  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .info-container .email-area svg {
    position: relative;
    top: 14px;
    float: left;
    width: 15%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 12px;
  }
  /* #top-jumbo .left-side .info-container .email-area button {
    font-size: 1rem;
    float: left;
    background: #6066f2;
    padding: 20px 0;
    width: 35%;
    max-width: 159.59px;
  } */
  #top-jumbo .right-side {
    width: 60%;
  }
  #top-jumbo .right-side img {
    /* top: 156px; */
    position: relative;
    /* left: 30px; */
  }
}
@media only screen and (max-width: 990px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 29rem;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 18px 0;
    width: 31%;
  }
}
@media only screen and (max-width: 970px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 28rem;
  }
}
@media only screen and (max-width: 920px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 27rem;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 18px 0;
    width: 31%;
  }
}
@media only screen and (max-width: 890px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 26rem;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 18px 0;
    width: 31%;
  }
}
@media only screen and (max-width: 860px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 25rem;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 18px 0;
    width: 31%;
  }
}
@media only screen and (min-width: 768px) {
  #top-jumbo .right-side img {
    top: 100px;
    /* left: -50px; */
  }
  /* #top-jumbo .left-side .info-container p {
        color: white;
    } */
  /* #top-jumbo .left-side .info-container .email-area {
        left: -100px;
    } */
}
/*Mobile devices*/
@media only screen and (max-width: 767px) {
  #top-jumbo {
    padding: 0 0 300px;
  }
  #top-jumbo .container {
    position: relative;
  }
  #top-jumbo .left-side {
    width: 100%;
  }
  #top-jumbo .left-side .large-number {
    font-size: 250px;
    opacity: 0.3;
  }
  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
  }
  #top-jumbo .left-side .info-container .email-area {
    /* width: 100%; */
    left: 50%;
    transform: translateX(-50%);
  }
  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .info-container .email-area svg {
    position: relative;
    top: 14px;
    float: left;
    width: 15%;
    text-align: center;
    margin-left: 0;
  }
  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 12px;
  }
  #top-jumbo .left-side .info-container .email-area button {
    font-size: 1rem;
    float: left;
    background: #6066f2;
    padding: 18px 0;
    width: 31%;
  }
  #top-jumbo .right-side {
    position: inherit;
  }
  #top-jumbo .right-side img {
    position: absolute;
    top: -38rem;
    z-index: 0;
    left: 0%;
    transform: translateX(0%) rotate(9deg);
    filter: brightness(0.5);
    opacity: 0.5;
  }
}
@media only screen and (max-width: 626px) {
  #top-jumbo .left-side .info-container .email-area svg {
    transform: translateY(-12.5%);
  }
  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    transform: translateY(-12.5%);
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 15px 0;
    width: 29%;
  }
}

@media only screen and (max-width: 550px) {
  #top-jumbo .right-side img {
    left: -10%;
    transform: translateX(-10%) rotate(9deg);
  }
}

/* for 360px  #top-jumbo .left-side .info-container .email-area{
        width: 21rem;
    } */
@media only screen and (max-width: 440px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 23rem;
  }
  #top-jumbo .right-side img {
    width: 40.625rem;
    left: -15%;
    transform: translateX(-15%) rotate( 
9deg);
  }
}
@media only screen and (min-width: 361px) and (max-width: 420px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 21rem;
    padding: 8px;
  }
}
@media only screen and (max-width: 360px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 18rem;
    padding: 7px;
  }
}