#latest{
    padding: 50px 0;
}
#latest .header{
    padding: 50px 0;
}
#latest .header:after{
    content: "";
    clear: both;
    display: table;
}
#latest .header h1{
    color: #6066F2;
    max-width: 400px;
    width: 100%;
    font-size: 4.2rem;
    display: inline-block;
    float: left;
}
#latest .header .directions{
    display: inline-block;
    float: right;
    position: relative;
    top: 35px;
}
#latest .header .directions .move-left{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    padding: 20px 70px;
    font-size: 3rem;
    background: #6066F2;
    color: white;
    border: 1px solid #6066F2;
}
#latest .header .directions .move-right{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;
    padding: 20px 70px;
    font-size: 3rem;
    background: white;
    color: #cecece;
    border: 1px solid #cecece;
}
#latest .body{
    padding: 100px 0;
}
#latest .body:after{
    content: "";
    clear: both;
    display: table;
}
#latest .body .column{
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 0 15px;
}
#latest .body .column:nth-child(1) .bg-square {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    background: #e04e4e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e04e4e 1%, #232c66 49%, #db57c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e04e4e 1%, #232c66 49%, #db57c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e04e4e 1%, #232c66 49%, #db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(2) .bg-square {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    background: #5047cc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(3) .bg-square {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    background: #ff5959; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff5959 1%, #ecf957 49%, #823434 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff5959 1%, #ecf957 49%, #823434 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff5959 1%, #ecf957 49%, #823434 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column .bg-square img{
    width: 80%;
    position: absolute;
    top: -30%;
    left: 10%;
}
#latest .body .column:nth-child(1) .bg-square .cart{
    width: 94px;
    height: 94px;
    border: 10px solid white;
    position: absolute;
    top: -47px;
    right: -47px;
    border-radius: 50%;
    color: white;
    background: #e04e4e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e04e4e 1%, #232c66 49%, #db57c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e04e4e 1%, #232c66 49%, #db57c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e04e4e 1%, #232c66 49%, #db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(2) .bg-square .cart{
    width: 94px;
    height: 94px;
    border: 10px solid white;
    position: absolute;
    top: -47px;
    right: -47px;
    border-radius: 50%;
    color: white;
    background: #e04e4e; /* Old browsers */
    background: -mbackground: #5047cc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */+ */
}
#latest .body .column:nth-child(3) .bg-square .cart{
    width: 94px;
    height: 94px;
    border: 10px solid white;
    position: absolute;
    top: -47px;
    right: -47px;
    border-radius: 50%;
    color: white;
    background: #ff5959; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff5959 1%, #ecf957 49%, #823434 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff5959 1%, #ecf957 49%, #823434 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff5959 1%, #ecf957 49%, #823434 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column .bg-square .cart .fas{
    position: relative;
    font-size: 2rem;
    top: 22px;
    left: -3px;
}
#latest .body .column .line{
    width: 20%;
    height: 2px;
    background: #6066F2;
    margin: 50px auto;
    display: inline-block;
}
#latest .body .column .price{
    color: #FEA83B;
    font-weight: 700;
    font-size: 2.5rem;
}
#latest .footer{
    text-align: center;
    position: relative;
}
#latest .footer img{
    width: 40%;
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) invert(100%);
    opacity: .1;
    transform: rotate(34deg);
}
#latest .footer .info-box{
    z-index: 2;
    position: relative;
    padding: 200px 0;
}
#latest .footer .info-box h2{
    color: #6066F2;
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 60px;
}
#latest .footer .info-box form{
    vertical-align: top;
    display: inline-block;
    margin: 0 auto;
}
#latest .footer .info-box .input-area{
    background: white;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    float: left;
}
#latest .footer .info-box .input-area .far, #latest .footer .info-box .input-area .fas {
    position: relative;
    font-size: 2rem;
    top: 7px;
    margin-left: 15px;
    color: #d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(1){
    height: 80px;
    margin-right: 50px;
}
#latest .footer .info-box .input-area input{
    background: white;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    width: 230px;
}
#latest .footer .info-box .input-area:nth-child(1) input{
    position: relative;
    top: 8px;
}
#latest .footer .info-box .input-area:nth-child(1) .far, #latest .footer .info-box .input-area:nth-child(1) .fas{
    position: relative;
    top: 14px;
}
#latest .footer .info-box .input-area button {
    background: #6066F2;
    padding: 20px 50px;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1rem;
}

@media only screen and (max-width: 1215px) {
}
/*Tablet Devices*/
@media only screen and (max-width: 1023px) {
    #latest .header h1 {
        font-size: 3.5rem;
    }
    #latest .header .directions {
        top: 18px;
    }
    #latest .body .column {
        width: 50%;
        margin-bottom: 150px;
    }
    
    #latest .footer img {
        width: 50%;
        z-index: 1;
        position: absolute;
        left: 30%;
        top: 100px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%) invert(100%);
        opacity: .1;
        transform: rotate(34deg);
    }
    #latest .footer .info-box form {
        width: 80%;
    }
    #latest .footer .info-box .input-area .far {
        position: relative;
        text-align: center;
        top: 14px;
        margin-left: 0;
        float: left;
        width: 15%;
    }

    #latest .footer .info-box .input-area input[type="email"] {
        position: relative;
        width: 50%;
        top: 12px;
        float: left;
    }

    #latest .footer .info-box .input-area button {
        background: #6066F2;
        padding: 20px 0;
        float: left;
        width: 35%;
        font-size: 1rem;
    }

    #latest .footer .info-box .input-area:nth-child(1) {
        margin: 0;
        width: 50%;
    }
    #latest .footer .info-box .input-area:nth-child(2) input[type="text"]{
        margin: 0;
        width: 80%;
    }
    #latest .footer .info-box .input-area:nth-child(2) {
        margin: 0;
        width: 50%;
    }
}
/*Mobile devices*/
@media only screen and (max-width: 767px) {
    #latest .header{
        text-align: center;
    }
    #latest .header h1 {
        font-size: 3rem;
        text-align: center;
        max-width: none;
        width: 100%;
    }
    #latest .header .directions{
        display: inline-block;
        float: none;
        margin: 50px auto;
        top: 0;
        position: static;
    }
    #latest .body .column {
        width: 100%;
        margin-bottom: 150px;
    }
    #latest .body .column:nth-child(1) .bg-square,
    #latest .body .column:nth-child(2) .bg-square,
    #latest .body .column:nth-child(3) .bg-square{
        transform: scale(.8);
    }
    #latest .footer .info-box .input-area .far {
        position: relative;
        text-align: center;
        top: 14px;
        margin-left: 0;
        float: left;
        width: 15%;
    }

    #latest .footer .info-box .input-area input[type="email"] {
        position: relative;
        width: 50%;
        top: 12px;
        float: left;
    }

    #latest .footer .info-box .input-area button {
        background: #6066F2;
        padding: 20px 0;
        float: left;
        width: 35%;
        font-size: 1rem;
    }
    #latest .footer .info-box .input-area:nth-child(1){
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    #latest .footer .info-box .input-area:nth-child(2) {
        margin: 0;
        width: 100%;
    }
    #latest .footer .info-box .input-area:nth-child(1) input {
        position: relative;
        top: 8px;
        float: left;
        width: 280px;
    }
    #latest .footer .info-box .input-area:nth-child(1) .far,
    #latest .footer .info-box .input-area:nth-child(1) .fas {
        float: left;
        padding: 0 13px;
        margin-right: 17px;
        position: relative;
        top: 14px;
    }
}